:root {
  --input-height: calc(var(--default-size) * 2);

  --input-height-sm: calc(var(--default-size) * 1.5);

  --input-height-lg: calc(var(--default-size) * 2.5);

  --input-padding: calc(var(--default-size) * 0.25)
    calc(var(--default-size) * 0.6875);

  --input-padding-sm: 0 calc(var(--default-size) * 0.4375);

  --input-padding-lg: calc(var(--default-size) * 0.4375)
    calc(var(--default-size) * 0.6875);

  --input-border-radius: calc(var(--default-size) * 0.375);

  --input-border-radius-sm: calc(var(--default-size) * 0.25);

  --input-border-radius-lg: calc(var(--default-size) * 0.5);

  --switch-orb-size: var(--default-size);

  --switch-orb-offset: calc(var(--switch-orb-size) * 0.125);

  --switch-width: calc(var(--switch-orb-size) * 2.5);

  --switch-height: calc(var(--switch-width) / 2 + var(--switch-orb-offset));

  --switch-orb-size-sm: calc(var(--default-size) * 0.75);

  --switch-orb-offset-sm: calc(var(--default-size) * 0.125);

  --switch-width-sm: calc(var(--default-size) * 1.75);

  --switch-height-sm: calc(
    var(--switch-width-sm) / 2 + var(--switch-orb-offset-sm)
  );

  --switch-handle-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);

  /* --switch-track-height: 22px;

--switch-track-height-sm: 16px;

--switch-track-min-width: 44px;

--switch-track-min-width-sm: 28px;

--switch-track-padding: 2px;

--switch-handle-bg: #fff;

--switch-handle-size: 18px;

--switch-handle-size-sm: 12px;

--switch-inner-min-margin: 9px;

--switch-inner-max-margin: 24px;

--switch-inner-min-margin-sm: 6px;

--switch-inner-max-margin-sm: 18px; */

  --range-slider-track-background-color: var(--color-border);

  --range-slider-track-height: calc(var(--default-size) * 0.25);

  --range-slider-thumb-size: calc(var(--range-slider-track-height) * 2.5);

  --range-slider-thumb-margin-top: calc(
    calc(var(--range-slider-track-height) - var(--range-slider-thumb-size)) *
      0.5
  );

  --range-slider-track-border-radius: var(--default-size);

  --range-slider-thumb-border-width: calc(
    var(--range-slider-track-height) * 0.125
  );

  --range-slider-thumb-border-focus-width: calc(
    var(--range-slider-track-height) * 0.25
  );

  --range-slider-thumb-border-color: var(--color-primary);

  --range-slider-thumb-background-color: var(--color-surface);
}
.input,
.textarea,
.select {
  box-sizing: border-box;

  outline: none;

  text-overflow: ellipsis;

  list-style: none;

  position: relative;

  display: inline-block;

  width: 100%;

  min-width: 0;

  margin: 0;

  font-size: var(--font-size);

  line-height: var(--line-height);

  padding: var(--input-padding);

  border-width: var(--border-width);

  border-style: var(--border-style);

  border-color: transparent;

  background-color: transparent;

  border-radius: var(--input-border-radius);
}
.input,
.textarea,
.select {
  border-color: rgb(var(--color-border));
}
.input:placeholder-shown,
.textarea:placeholder-shown {
  text-overflow: ellipsis;
}
.input::placeholder,
.textarea::placeholder {
  color: rgb(var(--color-text-disabled));
}
.textarea {
  max-width: 100%;

  height: auto;

  min-height: var(--input-height);

  vertical-align: bottom;

  resize: none;
}

.input.input-sm,
.select.input-sm {
  padding: var(--input-padding-sm);

  font-size: var(--font-size-sm);

  line-height: var(--line-height);

  border-radius: var(--input-border-radius-sm);
  height: var(--input-height-sm);
}

.input.input-lg,
.select.input-lg {
  padding: var(--input-padding-lg);

  font-size: var(--font-size-lg);

  line-height: var(--line-height);

  border-radius: var(--input-border-radius-lg);
}

.input.icon-left {
  background-position: left calc(var(--default-size) * 0.75) bottom 50%;

  padding-left: calc(var(--default-size) * 2.25);

  background-size: var(--default-size);
}

.input.icon-right {
  background-position: right calc(var(--default-size) * 0.75) bottom 50%;

  padding-right: calc(var(--default-size) * 2.25);

  background-size: var(--default-size);
}

.input.input-outline,
.textarea.input-outline,
.select.input-outline {
  border-color: rgb(var(--color-border));
}

.input.input-outline:hover {
  border-color: rgb(var(--color-primary-border-hover));
}

.input.input-outline:focus,
.input.input-outline:focus-within {
  border-color: rgb(var(--color-primary));
}

.input.input-fill,
.textarea.input-fill,
.select.input-fill {
  background-color: rgb(var(--color-invert-2));
  border-color: transparent;
}

.input.input-fill:hover {
  background-color: rgb(var(--color-invert-3));
}

.input.input-fill:focus,
.input.input-fill:focus-within,
.input.input-underline:focus,
.input.input-underline:focus-within,
.textarea.input-underline:focus,
.textarea.input-underline:focus-within,
.select.input-underline:focus,
.select.input-underline:focus-within {
  border-color: rgb(var(--color-primary));

  background-color: rgb(var(--color-surface));
}

.input.input-borderless,
.textarea.input-borderless,
.select.input-borderless {
  border: none;
}

.input.input-underline,
.textarea.input-underline,
.select.input-underline {
  border-bottom-right-radius: 0;

  border-bottom-left-radius: 0;

  border-top: none;

  border-left: none;

  border-right: none;

  border-bottom-color: rgb(var(--color-border));
}

.input.checkbox,
.input.radio,
.input.switch {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  border-color: rgb(var(--color-border));

  height: calc(var(--default-size) * 1.125);

  width: calc(var(--default-size) * 1.125);

  vertical-align: middle;

  border-radius: calc(var(--default-size) * 0.25);

  background-color: rgb(var(--color-surface));

  display: inline-block;

  position: relative;

  cursor: pointer;

  padding: 0;
}

.input.checkbox.input-sm,
.input.radio.input-sm {
  height: var(--default-size);

  width: var(--default-size);
}

.input.checkbox.input-lg,
.input.radio.input-lg {
  height: calc(var(--default-size) * 1.5);

  width: calc(var(--default-size) * 1.5);
}

.input.radio {
  border-radius: 50%;
}

.input.checkbox:hover,
.input.radio:hover {
  border-color: rgb(var(--color-primary-border-hover));
}

.input.radio:checked {
  background-color: rgb(var(--color-primary));

  border-color: rgb(var(--color-primary));

  box-shadow: inset 0 0 0 calc(var(--default-size) * 0.1875)
    rgb(var(--color-surface));
}

.input.checkbox:checked {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13.488 3.43a.75.75 0 0 1 .081 1.058l-6 7a.75.75 0 0 1-1.1.042l-3.5-3.5A.75.75 0 0 1 4.03 6.97l2.928 2.927l5.473-6.385a.75.75 0 0 1 1.057-.081Z' clip-rule='evenodd'/%3E%3C/svg%3E");

  background: var(--svg) center center / 100% 100% no-repeat;

  background-color: rgb(var(--color-primary));

  border-color: rgb(var(--color-primary));
}

.input.checkbox-indeterminate::after,
.input.checkbox:indeterminate::after {
  /* --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h14'/%3E%3C/svg%3E");

  background: var(--svg) center center / 100% 100% no-repeat;

  background-color: rgb(var(--color-primary)); */

  /* border-color: rgb(var(--color-primary)); */
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--default-size) * 0.5);
  height: calc(var(--default-size) * 0.5);
  transform: translate(-50%, -50%) scale(1);
  content: "";
  background-color: rgb(var(--color-primary));
  /* .ic--round-square { */
  /* display: inline-block; */
  /* width: calc(var(--default-size) * 0.5);
  height: calc(var(--default-size) * 0.5); */
  /* border-color: rgb(var(--color-primary));
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 5v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2'/%3E%3C/svg%3E");
  background: var(--svg) center center / calc(var(--default-size) * 0.625)
    calc(var(--default-size) * 0.625) no-repeat;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 50% 50%;
  mask-size: 50% 50%; */
  /* } */
}

.input.switch {
  min-width: var(--switch-width);

  height: var(--switch-height);

  border-radius: var(--switch-height);
}

.input.switch,
.input.switch.input-sm {
  border-color: transparent;

  background-color: rgb(var(--color-invert-7));

  position: relative;
}

.input.switch::after,
.input.switch.input-sm::after {
  background-color: rgb(var(--color-surface));

  box-shadow: var(--switch-handle-shadow);

  border-radius: 50%;

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  content: "";

  transition: all var(--transition-duration) var(--transition-timing-function);
}

.input.switch::after {
  height: var(--switch-orb-size);

  width: var(--switch-orb-size);

  left: var(--switch-orb-offset);
}

.input.switch:checked,
.input.switch.input-sm:checked {
  background: none;

  background-position: 0 0;

  background-color: rgb(var(--color-primary));
}

.input.switch:checked::after {
  transform: translateY(-50%)
    translateX(calc(var(--switch-width) / 2 - var(--switch-orb-offset)));
}

.input.switch.input-sm {
  min-width: var(--switch-width-sm);

  height: var(--switch-height-sm);

  border-radius: var(--switch-height-sm);
}

.input.switch.input-sm::after {
  height: var(--switch-orb-size-sm);

  width: var(--switch-orb-size-sm);

  left: var(--switch-orb-offset-sm);
}

.input.switch.input-sm:checked::after {
  transform: translateY(-50%)
    translateX(calc(var(--switch-width-sm) / 2 - var(--switch-orb-offset-sm)));
}

.select {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");

  background-position: right calc(var(--default-size) * 0.5) center;

  background-repeat: no-repeat;

  background-size: calc(var(--default-size) * 1.25)
    calc(var(--default-size) * 1.25);

  padding-right: calc(var(--default-size) * 2.5);

  -webkit-print-color-adjust: exact;

  print-color-adjust: exact;
}

.input.input-number[type="number"] {
  appearance: textfield;

  --moz-appearance: textfield;
}

.input.input-number::-webkit-outer-spin-button,
.input.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

.input-number-wrap {
  position: relative;
}

.input-number-wrap .input-number-handler-wrap {
  position: absolute;

  width: calc(var(--default-size) * 1.375);

  height: 100%;

  right: 0;

  top: 0;

  z-index: 1;

  display: flex;

  flex-direction: column;

  align-items: stretch;

  box-sizing: border-box;

  opacity: 0;

  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.input-number-wrap:hover .input-number-handler-wrap {
  opacity: 1;
}

.input-number-wrap .input-number-handler-wrap .input-number-handler {
  border-left: var(--border-width) var(--border-style) rgb(var(--color-border));

  display: flex;

  align-items: center;

  justify-content: center;

  flex: auto;

  overflow: hidden;

  font-weight: bold;

  line-height: 0;

  text-align: center;

  cursor: pointer;

  box-sizing: border-box;
}

.input-number-wrap
  .input-number-handler-wrap
  .input-number-handler.input-number-handler-down {
  border-top: var(--border-width) var(--border-style) rgb(var(--color-border));
}

.input-number-wrap
  .input-number-handler-wrap
  .input-number-handler
  .input-number-handler-icon {
  display: inline-block;

  width: 0;

  height: 0;

  border: calc(var(--default-size) * 0.3125) var(--border-style) transparent;
}

.input-number-wrap
  .input-number-handler-wrap
  .input-number-handler
  .input-number-handler-icon.input-number-handler-icon-up {
  border-bottom: calc(var(--default-size) * 0.3125) var(--border-style)
    rgb(var(--color-border));

  border-top: 0;
}

.input-number-wrap
  .input-number-handler-wrap
  .input-number-handler
  .input-number-handler-icon.input-number-handler-icon-down {
  border-top: calc(var(--default-size) * 0.3125) var(--border-style)
    rgb(var(--color-border));

  border-bottom: 0;
}

.input.input-range[type="range"] {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  width: 100%;

  cursor: pointer;
}

.input.input-range[type="range"]:focus {
  outline: none;
}

.input.input-range[type="range"]::-webkit-slider-runnable-track {
  width: 100%;

  height: var(--range-slider-track-height);

  cursor: pointer;

  background-color: rgb(var(--range-slider-track-background-color));

  border-radius: var(--range-slider-track-border-radius);
}

.input.input-range[type="range"]::-moz-range-track {
  width: 100%;

  height: var(--range-slider-track-height);

  cursor: pointer;

  background-color: rgb(var(--range-slider-track-background-color));

  border-radius: var(--range-slider-track-border-radius);
}

.input.input-range[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  width: var(--range-slider-thumb-size);

  height: var(--range-slider-thumb-size);

  border-radius: 50%;

  border-width: var(--range-slider-thumb-border-width);

  border-style: var(--border-style);

  border-color: rgb(var(--range-slider-thumb-border-color));

  background-color: rgb(var(--range-slider-thumb-background-color));

  margin-top: var(--range-slider-thumb-margin-top);

  cursor: pointer;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.input.input-range[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;

  width: var(--range-slider-thumb-size);

  height: var(--range-slider-thumb-size);

  border-radius: 50%;

  border-width: var(--range-slider-thumb-border-width);

  border-style: var(--border-style);

  border-color: rgb(var(--range-slider-thumb-border-color));

  background-color: rgb(var(--range-slider-thumb-background-color));

  margin-top: var(--range-slider-thumb-margin-top);

  cursor: pointer;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.input.input-range[type="range"]:focus::-webkit-slider-thumb,
.input.input-range[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 var(--range-slider-thumb-border-focus-width)
    rgb(var(--range-slider-thumb-border-color));
}

.input.input-range[type="range"]:focus::-moz-range-thumb,
.input.input-range[type="range"]:hover::-moz-range-thumb {
  box-shadow: 0 0 0 var(--range-slider-thumb-border-focus-width)
    rgb(var(--range-slider-thumb-border-color));
}

.input.input-invalid,
.input.input-invalid:not(.input-disabled),
.input-invalid,
.input:invalid,
.input.input-invalid::placeholder {
  color: rgb(var(--color-danger));
  border-color: rgb(var(--color-danger));
}

/* .input.input-disabled.checkbox-indeterminate::after, */
.input.input-disabled,
.input.input-disabled:hover,
.input[disabled],
.input:disabled {
  color: rgb(var(--color-text-disabled));
  background-color: rgb(var(--color-bg-disabled));
  border-color: rgb(var(--color-border));
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
